<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p align="left"> Are you a new volunteer, member of staff or trustee?
  This Page is all about making sense of the non profit sector.
  The purpose of the  non profit sector is to improve  and enrich society.
  It exists to create social wealth rather than material wealth.
  It is sometimes referred to as civil society, the third sector,
  the Voluntary and Community Sector (VCS), the not-for-profit sector,
  the charity sector, the social sector and even the beyond profit sector. It is made up of many different categories of activity affecting many aspects of society. The various terms are used by different people to include different combinations of activity which can be confusing.
  The common understanding behind our categorisation of the sector is that it exists to make a difference to society rather than to make financial profits.
</p>
